.addable{
    width: 100%;
}
.addable-add{
    display: flex;
    gap: 15px;
} 
.addable-add input{
    border: 2px solid rgb(101, 101, 214);
    border-radius: 3px;
    outline: none;
    padding: 10px;
    width: 300px;
}
.addable-add button{
    border: none;
    border-radius:20px;
    background-color: #1379ec;
    padding-left: 13px;
    padding-right: 13px;
    color: white;
    transition: 200ms;
    cursor: pointer;
}
.addable-add button:hover{
    background-color: #1164c4;
}
.addp{
    color: blue;
    font-weight: bold;
    font-size: larger;
}